{% extends 'general/base_general.html' %}
{% load static %}

{% block title %} Создание нового компонента {% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'general/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'tables/css/style.css' %}">
    {% load crispy_forms_tags %}
    <div class="topBoxContainer">
        {% for title, link in treeTitlesLinks %}
            <b><a href="{% url 'prFold' %}{{ link }}"> {{ title }} </a> >></b>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-4">
            <div class="leftBoxContainer">
                <div class="leftBoxFlex">
                    <form action="/{{ pathBack }}"
                          method="get"
                          enctype="multipart/form-data"
                    >
                        <button class="myButton">Отменить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="centralBoxContainer"></div>
            <h4>Новый компонент</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="myTableInFolder">
                    {{ form.as_table}}
                </table>
                <input type="hidden" name="path" value= {{ path }}>
                <input type="hidden" name="pathBack" value= {{ pathBack }}>
                <button type="submit" class="myButton">Создать объект</button>
            </form>
        </div>
    </div>

<script>

</script>
{% endblock %}