{% extends 'base.html' %}

{% load static %}

{% block title %} Создание нового компонента {% endblock %}

{% block content %}
    <h2>{{ folderTitle }}</h2>

    </br>
    <div class="float-right">
        <a href="/{{ previousFolder }}" class="btn btn-info" role="button">Назад</a>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Изменить объект</button>
    </form>

{% endblock %}
{% block navBarAdd %}
    <form action="{% url 'uploadExcelFile' %}" method="POST" class="form-inline my-2 my-lg-0"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ excelFileForm }}
        <input type="hidden" name="path" value={{ path }}>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Загрузить файл</button>
    </form>

{% endblock %}
{% block tableContent %}
    <table class="table mb-0">
        <thead>
        <tr>
            <th>Документ</th>
            <th>Файл</th>
            <th>Создатель</th>
            <th>Дата создания</th>
            <th>Переименовать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% if files %}

            {% for file in files %}
                {% if not file.deleted %}
                    <tr>
                        <form method="post" action="{% url 'renameExcelFile' file.pk %}">
                            <td><input name="additionalInfo" value="{{ file.additionalInfo }}"></td>
                            <td>
                                <a href = "/downloadExcelFile/{{ file.pk }}">{{ file.title }} </a>
                                </br>
                                <input name="newTitle" placeholder = "Введите новое название">
                            </td>
                            <td>{{ file.author }}</td>
                            <td>{{ file.creationDate.date }}</td>
                            <td>
                                {% csrf_token %}
                                <input name="path" type=hidden value="{{ path }}">
                                <button type="submit" class="btn btn-success btn-sm">Обновить</button>
                            </td>
                        </form>
                        <td>
                            <form method="post" action="{% url 'deleteExcel' file.pk 'file' %}">
                                {% csrf_token %}
                                <input name="path" type=hidden value="{{ path }}">
                                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
{% endblock %}