{% extends 'general/base_general.html' %}

{% load static %}


{% block title %}Модификация {{ object.title }}{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'general/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'tables/css/style.css' %}">
    <div class="row">
        <div class="col-4">
            <div class="leftBoxContainer">
                <div class="leftBoxFlex">
                    <form action="/{{ pathBack }}"
                          method="get"
                          enctype="multipart/form-data"
                    >
                        <button class="myButton">Назад</button>
                    </form>
                </div>

                <form action="{% url 'uploadExcelFile' %}" method="get" class="form-inline my-2 my-lg-0"
                      enctype="multipart/form-data">
                    <input name="path" type=hidden value="{{ fileUploadPath }}">
                    <input type="hidden" name="pathBack" value={{ path }}>
                    <button class="myButton" type="submit">Загрузить файл</button>
                </form>

                {% if files %}
                    {% include "../general/general_modules/files.html" %}
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div class="centralBoxContainer"></div>
            <h4>{{ object.title }}</h4>
            {% if updateMessage %}
                <div class="updateMessage">{{ updateMessage }}</div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="myTableInFolder">
                    {{ form.as_table }}
                </table>
                <!-- yep, that's rude. Need refactoring of the whole template's path direction -->
                <input type="hidden" name="path" value= {{ pathBack }}>
                <input type="hidden" name="pathBack" value= {{ path }}>
                <button type="submit" class="myButton">
                    Обновить компонент
                </button>
            </form>
        </div>
        <div class="col-4">
            <div class="rightBoxContainer">
                <h4>Информация о {{ object.title }}</h4>
                {% if object.status %}
                    <table class="myTable">
                        <tr>
                            <th>Статус:</th>
                        </tr>
                        <tr>
                            <td>{{ object.status }}</td>
                        </tr>
                    </table>
                    <button class="myButton">
                        Утвердить
                    </button>
                {% endif %}
                <ul>
                    <li>Дата создания: {{ object.creationDate.date }}</li>
                    <li>Время создания: {{ object.creationDate.time }}</li>
                    <li>Автор: {{ object.author }}</li>
                </ul>

                <form method="post" enctype="multipart/form-data"
                      action="{% url 'deleteInstance' tableType=tableTypeRedirect UID=object.UID %}">
                    {% csrf_token %}
                    <input type="hidden" name="pathBack" value={{ pathBack }}>
                    <input type="submit" class="myButton" value="Удалить компонент"
                           onclick="confirmDeletion(event)">
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block tableContent %}
    <table class="table mb-0">
        <thead>
        <tr>
            <th>Документ</th>
            <th>Файл</th>
            <th>Создатель</th>
            <th>Дата создания</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% if files %}
            {% for file in files %}
                {% if not file.deleted %}
                    <tr>

                        <td>
                            <form id="file_form_{{ file.pk }}" method="post"
                                  action="{% url 'renameExcelFile' file.pk %}">
                                <p><input name="additionalInfo" value="{{ file.additionalInfo }}"
                                          placeholder="Введите дополнительное описание"></p>

                                <p><input name="newTitle" placeholder="Введите новое название"></p>
                                {% csrf_token %}

                                <input type="hidden" name="pathBack" value={{ path }}>
                                <p>
                                    <button id="test" type="submit" class="btn btn-success btn-sm">Обновить</button>
                                </p>
                            </form>
                        </td>
                        <td>
                            <a href="/downloadExcelFile/{{ file.pk }}">{{ file.title }} </a>
                        </td>
                        <td>{{ file.author }}</td>
                        <td>{{ file.creationDate.date }}</td>
                        <td>
                            <form method="post" action="{% url 'deleteExcel' file.pk 'file' %}">
                                {% csrf_token %}
                                <input type="hidden" name="pathBack" value={{ path }}>
                                <button type="submit" class="btn btn-danger btn-sm" onclick="confirmDeletion(event)">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}