{% extends 'general/base_general.html' %}

{% load static %}


{% block title %}Создание нового компонента {% endblock %}

{% block content %}
    <h2>{{ modelData.title }}</h2>

    </br>
    <div class="float-right" align="right">
        <p><a href="/{{ pathBack }}" class="btn btn-info" role="button">Назад</a></p>
        <p>
        <form method="post" enctype="multipart/form-data" action="{% url 'deleteInstance' tableType=tableTypeRedirect UID=object.UID %}">
            {% csrf_token %}
            <input type="hidden" name="pathBack" value={{ pathBack }}>
            <input type="submit" class="btn btn-danger" value="Удалить компонент" onclick="confirmDeletion(event)">
        </form>
        </p>
        <p>
        <form action="{% url 'uploadExcelFile' %}" method="get" class="form-inline my-2 my-lg-0"
              enctype="multipart/form-data">
            <input name="path" type=hidden value="{{ fileUploadPath }}">
            <input type="hidden" name="pathBack" value={{ path }}>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Загрузить файл</button>
        </form>
        </p>
    </div>

    <form method="post" enctype="multipart/form-data" action="{% url 'updateInstance' tableType=tableTypeRedirect UID=object.UID %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="pathBack" value="{{ path }}">
        <button type="submit" class="btn btn-primary">Изменить объект</button>
    </form>

{% endblock %}
{% block navBarAdd %}

{% endblock %}
{% block tableContent %}
    <table class="table mb-0">
        <thead>
        <tr>
            <th>Документ</th>
            <th>Файл</th>
            <th>Создатель</th>
            <th>Дата создания</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% if files %}
            {% for file in files %}
                {% if not file.deleted %}
                    <tr>

                        <td>
                            <form id="file_form_{{ file.pk }}" method="post"
                                  action="{% url 'renameExcelFile' file.pk %}">
                                <p><input name="additionalInfo" value="{{ file.additionalInfo }}"
                                          placeholder="Введите дополнительное описание"></p>

                                <p><input name="newTitle" placeholder="Введите новое название"></p>
                                {% csrf_token %}

                                <input type="hidden" name="pathBack" value={{ path }}>
                                <p>
                                    <button id="test" type="submit" class="btn btn-success btn-sm">Обновить</button>
                                </p>
                            </form>
                        </td>
                        <td>
                            <a href="/downloadExcelFile/{{ file.pk }}">{{ file.title }} </a>
                        </td>
                        <td>{{ file.author }}</td>
                        <td>{{ file.creationDate.date }}</td>
                        <td>
                            <form method="post" action="{% url 'deleteExcel' file.pk 'file' %}">
                                {% csrf_token %}
                                <input type="hidden" name="pathBack" value={{ path }}>
                                <button type="submit" class="btn btn-danger btn-sm" onclick="confirmDeletion(event)">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        /*$(document).ready(function () {
            $("form").each(function () {
                $(this).find(':input').prop("disabled", true);
                $("#delete_component").prop("disabled", true);
            });
            $("#block_items").click(function () {
                if ($("#block_items").html() === "Заблокировать содержимое") {
                    $("form").each(function () {
                        $(this).find(':input').prop("disabled", true);
                    });
                    //$("#file_form").find(':input').prop("disabled", true);
                    //$("#test").prop("disabled", true);
                    $("#block_items").html("Разблокировать содержимое");
                    $("#delete_component").prop("disabled", true);
                } else if ($("#block_items").html() === "Разблокировать содержимое") {
                    $("form").each(function () {
                        $(this).find(':input').prop("disabled", false);
                    });
                    $("#block_items").html("Заблокировать содержимое");
                    $("#delete_component").prop("disabled", false);
                }
            });
        });
    </script>
{% endblock %}