{% extends 'general/base_general.html' %}

<!-- loading static data. From General, accounts and tables apps -->
{% load static %}
<!-- Inserting title of folder in to a head of the HTML-->
{% block title %}
    {{ theFolderObject.title }}
{% endblock %}

<!-- primal block of content -->
{% block navBarAdd %}
    {% if theFolderObject.title != "Главная директория" %}
        <div class="float-left">
            <!-- Скорее всего из за вот этой конструкции и ложится release -->
            <a href="{% url 'home' %}{{ previousFolder }}" class="btn btn-info" role="button">Назад</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    <!-- importing style css file from general/static/general/css-->
    <link href="{% static "general/css/style.css" %}" rel="stylesheet" type="text/css">
    {% for title, link in treeTitlesLinks %}
        <b><a href="{% url 'prFold' %}{{ link }}"> {{ title }} </a> >></b>
    {% endfor %}
    <p></p>
    <!-- This button is supposed to bring a customer back, at a previous page in the hierarchy-->

    <!-- this form is supposed to create new folder inside of database. action leads to newExcelFolder method in general.views-->

    <form action="{% url 'newExcelFolder' %}" method="get" class="form-inline my-2 my-lg-0"
          enctype="multipart/form-data">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Создать новую папку</button>
        <input name="path" type=hidden value="{{ foldPath }}">
        <input type="hidden" name="pathBack" value={{ pathBack }}>
    </form>
    <p></p>
    <form action="{% url 'uploadExcelFile' %}" method="get" class="form-inline my-2 my-lg-0"
          enctype="multipart/form-data">
        <input name="path" type=hidden value="{{ foldPath }}">
        <input type="hidden" name="pathBack" value={{ pathBack }}>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Загрузить файл</button>
    </form>


    <table class="table mb-0">
        <thead>
        <tr>
            <th></th>
            <th>Файл</th>
            <th>Создатель</th>
            <th>Дата создания</th>
            <th>Переименовать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% if folders %}
            {% for folder in folders %}
                {% if not folder.deleted %}

                    <tr>
                        <td>
                            <input type="checkbox" id="checkbox_{{ folder.UID }}" name="checkbox_{{ folder.UID }}"
                                   align="left">
                            <img src="{% static 'general/images/folder.jpg' %}" style="width:64px;height:64px;"
                                 align="right">
                        </td>
                        <form method="post" action="{% url 'renameExcelFolder' folder.pk %}">
                            <td>
                                <a href="{{ folder.UID }}"> {{ folder.title }}</a>
                                </br>
                            </td>
                            <td>{{ folder.author }}</td>
                            <td>{{ folder.creationDate }}</td>
                            <td>

                                {% csrf_token %}
                                <input name="path" type=hidden value="{{ foldPath }}">
                                <input name="pathBack" type=hidden value="{{ pathBack }}">
                                <input name="newTitle" placeholder="Введите новое название" value="{{ file.title }}">
                                <button type="submit" class="btn btn-success btn-sm">Обновить</button>
                            </td>
                        </form>

                        <td>
                            <form method="post" action="{% url 'deleteExcel' folder.pk 'folder' %}">
                                {% csrf_token %}
                                <input name="path" type=hidden value="{{ foldPath }}">
                                <input name="pathBack" type=hidden value="{{ pathBack }}">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="confirmDeletion(event)">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if files %}
            {% for file in files %}
                {% if not file.deleted %}
                    <tr>
                        <td>
                            <input type="checkbox" id="checkbox_{{ file.UID }}" name="checkbox_{{ file.UID }}">
                        </td>
                        <td>
                            <a href="/downloadExcelFile/{{ file.pk }}">{{ file.title }} </a>
                            </br>

                        </td>
                        <td>{{ file.author }}</td>
                        <td>{{ file.creationDate }}</td>
                        <td>
                            <form method="post" action="{% url 'renameExcelFile' file.pk %}">
                                <input name="newTitle" placeholder="Введите новое название">
                                {% csrf_token %}
                                <input name="path" type=hidden value="{{ foldPath }}">
                                <input name="pathBack" type=hidden value="{{ pathBack }}">
                                <button id="rename_{{ file.UID }}" type="submit" class="btn btn-success btn-sm">
                                    Обновить
                                </button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url 'deleteExcel' file.pk 'file' %}">
                                {% csrf_token %}
                                <input name="path" type=hidden value="{{ foldPath }}">
                                <input name="pathBack" type=hidden value="{{ pathBack }}">
                                <button id="delete_{{ file.UID }}" type="submit" class="btn btn-danger btn-sm"
                                        onclick="confirmDeletion(event)">Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>



{% endblock %}

{% block tableContent %}
    {% if theFolderObject.tableName %}
        <div class="row justify-content-center">
            <div class="col-lg-20 ">
                <div class="card mb-4">
                    <div class="card-body">
                        {% if theFolderObject.tableName == 'rawMaterialsTable' %}
                            <table class="table mb-0">
                                <h2> Исходные материалы
                                    <div class="float-right">
                                        <form action="{% url 'newInstance' tableType=tableTypeRedirect %}"
                                              method="GET" class="form-inline my-2 my-lg-0"
                                              enctype="multipart/form-data">
                                            <button class="btn btn-primary" type="submit">Внести новый исходный материал
                                            </button>
                                            <input name="path" type=hidden value="{{ foldPath }}">
                                            <input name="pathBack" type=hidden value="{{ pathBack }}">
                                        </form>
                                    </div>
                                </h2>
                                <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Статус</th>
                                    <th>Название</th>
                                    <th>Уникальный номер (UID)</th>
                                    <th>Документы</th>
                                    <th>Исходное количество [кг]</th>
                                    <th>Доступное количество [кг]</th>
                                    <th>Дата регистрации</th>
                                    <th>Стоимость [тыс.руб]</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if tables %}
                                    {% for table in tables %}
                                        {% if not table.deleted %}
                                            <tr>
                                                <td>{{ table.pk }}</td>
                                                <td>{{ table.status }}</td>
                                                <td>
                                                    <a href="{% url 'updateInstance' tableType=tableTypeRedirect UID=table.UID %}"> {{ table.title }}</a>
                                                </td>
                                                <td>{{ table.UID }}</td>
                                                <td>{{ pass }}</td>
                                                <td>{{ table.originalAmount }}</td>
                                                <td>{{ table.availableAmount }}</td>
                                                <td>{{ table.creationDate.date }}</td>
                                                <td>{{ table.cost }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if theFolderObject.tableName == 'equipmentTable' %}
                            <table class="table mb-0">
                                <h2> Оборудование
                                    <div class="float-right">
                                        <form action="{% url 'newInstance' tableType=tableTypeRedirect %}"
                                              method="GET" class="form-inline my-2 my-lg-0"
                                              enctype="multipart/form-data">
                                            <button class="btn btn-primary" type="submit">Внести новое оборудование
                                            </button>
                                            <input name="path" type=hidden value="{{ foldPath }}">
                                            <input name="pathBack" type=hidden value="{{ pathBack }}">
                                        </form>
                                    </div>
                                </h2>
                                <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Название</th>
                                    <th>Уникальный номер (UID)</th>
                                    <th>Документы</th>
                                    <th>Дата регистрации</th>
                                    <th>Производительность [кг/час]</th>
                                    <th>Стоимость эксплуатации [тыс.руб/ч]</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if tables %}
                                    {% for table in tables %}
                                        {% if not table.deleted %}
                                            <tr>
                                                <td>{{ table.pk }}</td>
                                                <td>
                                                    <a href="{% url 'updateInstance' tableType=tableTypeRedirect UID=table.UID %}"> {{ table.title }}</a>

                                                </td>
                                                <td>{{ table.UID }}</td>
                                                <td>{{ pass }}</td>
                                                <td>{{ table.creationDate.date }}</td>
                                                <td>{{ table.productivity }}</td>
                                                <td>{{ table.exploitationCost }}</td>
                                            </tr>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if theFolderObject.tableName == 'subcomponentsTable' %}
                            <table class="table mb-0">
                                <h2> Субкомпоненты
                                    <div class="float-right">
                                        <form action="{% url 'newInstance' tableType=tableTypeRedirect %}"
                                              method="GET" class="form-inline my-2 my-lg-0"
                                              enctype="multipart/form-data">

                                            <button class="btn btn-primary" type="submit">Создать новый компонент
                                            </button>
                                            <input name="path" type=hidden value="{{ foldPath }}">
                                            <input name="pathBack" type=hidden value="{{ pathBack }}">
                                        </form>
                                    </div>
                                </h2>
                                <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Статус</th>
                                    <th>Автор</th>
                                    <th>Название</th>
                                    <th>Уникальный номер (UID)</th>
                                    <th>Документы</th>
                                    <th>Время изготовления [ч]</th>
                                    <th>Исходное количество [кг]</th>
                                    <th>Доступное количество [кг]</th>
                                    <th>Цена [тыс. руб/кг]</th>
                                    <th>Дата регистрации</th>
                                    <th>Где использовано (UID)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if tables %}
                                    {% for table in tables %}
                                        {% if not table.deleted %}
                                            <tr>
                                                <td>{{ table.pk }}</td>
                                                <td>{{ table.status }}</td>
                                                <td>{{ table.author }}</td>
                                                <td>
                                                    <a href="{% url 'updateInstance' tableType=tableTypeRedirect UID=table.UID %}"> {{ table.title }}</a>
                                                </td>
                                                <td>{{ table.UID }}</td>
                                                <td>{{ pass }}</td>
                                                <td>{{ table.creationTime }}</td>
                                                <td>{{ table.originalAmount }}</td>
                                                <td>{{ table.availableAmount }}</td>
                                                <td>{{ table.cost }}</td>
                                                <td>{{ table.creationDate.date }}</td>
                                                <td>{{ pass }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                        {% endif %}
                        {% if theFolderObject.tableName == 'organisationTable' %}
                            <table class="table mb-0">
                                <h2> Организации
                                    <div class="float-right">
                                        <form action="{% url 'newInstance' tableType=tableTypeRedirect %}"
                                              method="GET" class="form-inline my-2 my-lg-0"
                                              enctype="multipart/form-data">

                                            <button class="btn btn-primary" type="submit">Добавить организацию
                                            </button>
                                            <input name="path" type=hidden value="{{ foldPath }}">
                                            <input name="pathBack" type=hidden value="{{ pathBack }}">
                                        </form>
                                    </div>
                                </h2>
                                <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Автор</th>
                                    <th>Название</th>
                                    <th>Уникальный номер (UID)</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if tables %}
                                    {% for table in tables %}
                                        {% if not table.deleted %}
                                            <tr>
                                                <td>{{ table.pk }}</td>
                                                <td>{{ table.author }}</td>
                                                <td>
                                                    <a href="{% url 'updateInstance' tableType=tableTypeRedirect UID=table.UID %}"> {{ table.title }}</a>
                                                </td>
                                                <td>{{ table.UID }}</td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                        {% endif %}
                        {% if theFolderObject.tableName == 'measurementUnitTable' %}
                            <table class="table mb-0">
                                <h2> Единицы измерения
                                    <div class="float-right">
                                        <form action="{% url 'newInstance' tableType=tableTypeRedirect %}"
                                              method="GET" class="form-inline my-2 my-lg-0"
                                              enctype="multipart/form-data">

                                            <button class="btn btn-primary" type="submit">
                                                Добавить единицу измерения
                                            </button>
                                            <input name="path" type=hidden value="{{ foldPath }}">
                                            <input name="pathBack" type=hidden value="{{ pathBack }}">
                                        </form>
                                    </div>
                                </h2>
                                <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Автор</th>
                                    <th>Название</th>
                                    <th>Уникальный номер (UID)</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if tables %}
                                    {% for table in tables %}
                                        {% if not table.deleted %}
                                            <tr>
                                                <td>{{ table.pk }}</td>
                                                <td>{{ table.author }}</td>
                                                <td>
                                                    <a href="{% url 'updateInstance' tableType=tableTypeRedirect UID=table.UID %}"> {{ table.title }}</a>
                                                </td>
                                                <td>{{ table.UID }}</td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                        {% endif %}
                        {% if theFolderObject.tableName == 'statusTable' %}
                            <table class="table mb-0">
                                <h2> Статусы
                                    <div class="float-right">
                                        <form action="{% url 'newInstance' tableType=tableTypeRedirect %}"
                                              method="GET" class="form-inline my-2 my-lg-0"
                                              enctype="multipart/form-data">

                                            <button class="btn btn-primary" type="submit">
                                                Добавить статус
                                            </button>
                                            <input name="path" type=hidden value="{{ foldPath }}">
                                            <input name="pathBack" type=hidden value="{{ pathBack }}">
                                        </form>
                                    </div>
                                </h2>
                                <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Автор</th>
                                    <th>Название</th>
                                    <th>Уникальный номер (UID)</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if tables %}
                                    {% for table in tables %}
                                        {% if not table.deleted %}
                                            <tr>
                                                <td>{{ table.pk }}</td>
                                                <td>{{ table.author }}</td>
                                                <td>
                                                    <a href="{% url 'updateInstance' tableType=tableTypeRedirect UID=table.UID %}"> {{ table.title }}</a>
                                                </td>
                                                <td>{{ table.UID }}</td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


