{% extends 'general/base_general.html' %}

<!-- Inserting title of folder in to a head of the HTML-->
{% block title %}
    {{ theFolderObject.title }}
{% endblock %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'general/css/style.css' %}">

    <div class="topBoxContainer">
        {% for title, link in treeTitlesLinks %}
            <b><a href="{% url 'prFold' %}{{ link }}"> {{ title }} </a> >></b>
        {% endfor %}
    </div>
    <!-- this form is supposed to create new folder inside of database. action leads to newExcelFolder method in general.views-->
    <div class="row">
        <div class="col-4">
            <div class="rightBoxContainer">
                <h4>{{ theFolderObject.title }}</h4>

                <form action="{% url 'newExcelFolder' %}"
                      method="get"
                      class="form-inline my-2 my-lg-0"
                      enctype="multipart/form-data">

                    <button
                            class="myButton"
                            type="submit">
                        Создать новую папку
                    </button>
                    <input name="path" type=hidden value="{{ foldPath }}">
                    <input type="hidden" name="pathBack" value={{ pathBack }}>
                </form>
                <form action="{% url 'uploadExcelFile' %}"
                      method="get"
                      class="form-inline my-2 my-lg-0"
                      enctype="multipart/form-data">
                    <input name="path" type=hidden value="{{ foldPath }}">
                    <input type="hidden" name="pathBack" value={{ pathBack }}>
                    <button class="myButton" type="submit">
                        Загрузить файл
                    </button>
                </form>

                {% if folders %}
                    {% include "./general_modules/folders.html" %}
                {% endif %}
                {% if files %}
                     {% include "./general_modules/files.html" %}
                {% endif %}
                <h4>Инфо об этой папке</h4>
                <div class="leftBoxFlex">
                    <button class="myButton">
                        Переименовать не работает
                    </button>
                    {% if theFolderObject.UID != 'prFold' %}
                        <form method="post" action="{% url 'deleteExcel' theFolderObject.pk 'folder' %}">
                            {% csrf_token %}
                            <input name="path" type=hidden value="{{ foldPath }}">
                            <input name="pathBack" type=hidden value="{{ previousFolder }}">
                            <button type="submit" class="myButton" onclick="confirmDeletion(event)">
                                Удалить
                            </button>
                        </form>
                    {% endif %}


                </div>
                <div class="leftBoxFlex">
                    <ul>
                        <li>Дата создания: {{ theFolderObject.creationDate }}</li>
                        <li>Автор: {{ theFolderObject.author }}</li>
                    </ul>
                </div>

            </div>
        </div>
        {% if theFolderObject.tableName %}
            <div class="col-8">
                <div class="centralBoxContainer">
                    {% if theFolderObject.tableName == 'equipmentTable' %}
                        {% include "./tables_in_prFold/equipmentTable.html" %}
                    {% elif theFolderObject.tableName == 'rawMaterialsTable' %}
                        {% include "./tables_in_prFold/rawMaterialTable.html" %}
                    {% elif theFolderObject.tableName == 'subcomponentsTable' %}
                        {% include "./tables_in_prFold/subcomponentTable.html" %}
                    {% elif theFolderObject.tableName == 'organisationTable' %}
                        {% include "./tables_in_prFold/organisationTable.html" %}
                    {% elif theFolderObject.tableName == 'measurementUnitTable' %}
                        {% include "./tables_in_prFold/measurementUnitTable.html" %}
                    {% elif theFolderObject.tableName == 'statusTable' %}
                        {% include "./tables_in_prFold/statusTable.html" %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>


{% endblock %}




